﻿@{
ViewData["Title"] = "Home Page";
}
<main class="main">

    <!-- Hero Section -->
    @await Component.InvokeAsync("_HeroViewComponentPartial")
    <!-- /Hero Section -->
    <!-- About Section -->
    @await Component.InvokeAsync("_AboutViewComponentPartial")
    <!-- /About Section -->
    <!-- Stats Section -->
    @await Component.InvokeAsync("_StatsViewComponentPartial")
   <!-- /Stats Section -->
    <!-- Skills Section -->
    @await Component.InvokeAsync("_SkillsViewComponentPartial")
   <!-- /Skills Section -->
    <!-- Resume Section -->
    @await Component.InvokeAsync("_ResumeViewComponentPartial")<!-- /Resume Section -->
    <!-- Portfolio Section -->
    @await Component.InvokeAsync("_PortfolioViewComponentPartial")<!-- /Portfolio Section -->
    <!-- Services Section -->
    @await Component.InvokeAsync("_ServiceViewComponentPartial")
   <!-- /Services Section -->
    <!-- Testimonials Section -->
    @await Component.InvokeAsync("_TestimonialsViewComponentPartial")
    <!-- /Testimonials Section -->
    <!-- Contact Section -->
    @await Component.InvokeAsync("_ContactViewComponentPartial")
   <!-- /Contact Section -->

</main>