@model Header

<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="~/assets/img/@Model.ProfileImage" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">@Model.Name @Model.Surname</h1>
    </a>

    <div class="social-links text-center">
        @foreach (var item in Model.SocialMedias)
        {
            <a href="@item.Url" target="_blank" class="twitter"><i class="@item.Icon"></i></a>
        }
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Anasayfa</a></li>
            <li><a href="#about"><i class="bi bi-person navicon"></i> Ben Kimim?</a></li>
            <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Eğitim ve İş Deneyimi</a></li>
            <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolyö</a></li>
            <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Hizmetler</a></li>
            <li><a href="#contact"><i class="bi bi-envelope navicon"></i> İletişim</a></li>
        </ul>
    </nav>

</header>
